# Problem:

Consider a large dataset (say, a time series) A. Also, consider a smaller dataset B. How do you ensure whether sets A and B identify the same variable? Illustrate it with a Python script.

In [1]:
import pandas as pd
import opendatasets as od

In [12]:
## loading a time series data 
od.download('https://www.kaggle.com/datasets/atulanandjha/national-stock-exchange-time-series')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: sumit0730
Your Kaggle Key: ········

100%|█████████████████████████████████████████████████████████████████████████████| 29.2k/29.2k [00:00<00:00, 1.74MB/s]

Downloading national-stock-exchange-time-series.zip to .\national-stock-exchange-time-series

In [13]:
df1=pd.read_csv('./national-stock-exchange-time-series/infy_stock.csv')

In [14]:
df1.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2015-01-01,INFY,EQ,1972.55,1968.95,1982.00,1956.9,1971.00,1974.40,1971.34,500691,9.870306e+13,14908,258080,0.5154
1,2015-01-02,INFY,EQ,1974.40,1972.00,2019.05,1972.0,2017.95,2013.20,2003.25,1694580,3.394669e+14,54166,1249104,0.7371
2,2015-01-05,INFY,EQ,2013.20,2009.90,2030.00,1977.5,1996.00,1995.90,2004.59,2484256,4.979911e+14,82694,1830962,0.7370
3,2015-01-06,INFY,EQ,1995.90,1980.00,1985.00,1934.1,1965.10,1954.20,1954.82,2416829,4.724458e+14,108209,1772070,0.7332
4,2015-01-07,INFY,EQ,1954.20,1965.00,1974.75,1950.0,1966.05,1963.55,1962.59,1812479,3.557162e+14,62463,1317720,0.7270

In [22]:
df1.isnull().sum()

Date                  0
Symbol                0
Series                0
Prev Close            0
Open                  0
High                  0
Low                   0
Last                  0
Close                 0
VWAP                  0
Volume                0
Turnover              0
Trades                0
Deliverable Volume    0
%Deliverble           0
dtype: int64

In [15]:
## loading another dataset
od.download('https://www.kaggle.com/datasets/szrlee/stock-time-series-20050101-to-20171231')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: sumit0730
Your Kaggle Key: ········

  0%|                                                                                      | 0.00/3.03M [00:00<?, ?B/s]

Downloading stock-time-series-20050101-to-20171231.zip to .\stock-time-series-20050101-to-20171231

100%|██████████████████████████████████████████████████████████████████████████████| 3.03M/3.03M [00:05<00:00, 530kB/s]

In [16]:
df2=pd.read_csv('./stock-time-series-20050101-to-20171231/AABA_2006-01-01_to_2018-01-01.csv')

In [17]:
df2.head()

         Date   Open   High    Low  Close    Volume  Name
0  2006-01-03  39.69  41.22  38.79  40.91  24232729  AABA
1  2006-01-04  41.22  41.90  40.77  40.97  20553479  AABA
2  2006-01-05  40.93  41.73  40.85  41.53  12829610  AABA
3  2006-01-06  42.88  43.57  42.80  43.21  29422828  AABA
4  2006-01-09  43.10  43.66  42.82  43.42  16268338  AABA

In [21]:
df2.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Name      0
dtype: int64

In [18]:
## To campare two dataset we use datacompy library
import datacompy

In [23]:
compare=datacompy.Compare(df1,df2,on_index=True,abs_tol=0.0001,rel_tol=0,df1_name='original',df2_name='new')

In [24]:
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  original       15   248
1       new        7  3019

Column Summary
--------------

Number of columns in common: 6
Number of columns in original but not in new: 9
Number of columns in new but not in original: 1

Row Summary
-----------

Matched on: index
Any duplicates on match values: No
Absolute Tolerance: 0.0001
Relative Tolerance: 0
Number of rows in common: 248
Number of rows in original but not in new: 0
Number of rows in new but not in original: 2,771

Number of rows with some compared columns unequal: 248
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 6
Number of columns compared with all values equal: 0
Total number of values which compare unequal: 1,488

Columns with Unequal Values or Types
------------------------------------

   Column original dtype new dtype  # Unequal      Max Diff  # Null Diff
4   close        float64   float64        248  2.292310e+03            0
0    date         object    object        248  0.000000e+00            0
2    high        float64   float64        248  2.302660e+03            0
3     low        float64   float64        248  2.259670e+03            0
1    open        float64   float64        248  2.296010e+03            0
5  volume          int64     int64        248  2.022238e+08            0

Sample Rows with Unequal Values
-------------------------------

    date (original)  date (new)
3        2015-01-06  2006-01-06
199      2015-10-20  2006-10-17
177      2015-09-15  2006-09-15
133      2015-07-15  2006-07-14
209      2015-11-04  2006-10-31
240      2015-12-21  2006-12-14
151      2015-08-10  2006-08-09
182      2015-09-23  2006-09-22
148      2015-08-05  2006-08-04
89       2015-05-14  2006-05-11

     open (original)  open (new)
172          1062.00       28.04
26           2200.00       33.01
235          1049.50       26.95
247          1090.15       25.49
70           2222.00       31.14
152          1098.80       26.95
122           990.00       31.75
243          1102.05       26.05
201          1141.80       23.02
89           1960.00       31.96

     high (original)  high (new)
114          1007.95       30.86
41           2308.50       32.07
126           988.00       32.99
160          1160.95       29.65
47           2240.00       30.97
137          1149.00       26.21
120          1011.60       31.70
39           2280.65       32.42
152          1116.90       27.80
15           2203.00       35.48

     low (original)  low (new)
108         1985.00      29.83
1           1972.00      40.77
9           2092.60      38.96
126          975.00      32.33
125          982.00      32.90
206         1130.00      24.36
172         1052.30      27.97
110         1955.50      29.66
29          2273.00      32.05
53          2222.75      30.02

     close (original)  close (new)
169           1099.35        29.07
231           1044.40        26.49
42            2297.85        31.57
43            2274.65        31.43
235           1069.50        26.63
63            2178.20        32.10
86            1993.65        32.87
193           1122.90        25.03
116           1023.85        30.60
158           1175.55        29.78

     volume (original)  volume (new)
32           2153441.0      12620166
124          2003784.0      22686536
179          5788438.0     127739742
15           2489599.0      23786001
164          7671696.0      10405937
100          4748261.0      13843907
119          3558733.0      17378470
55           1269675.0      33944220
89           1558461.0      24278733
34           1742907.0      18433966

Sample Rows Only in new (First 10 Columns)
------------------------------------------

            date   open   high    low  close    volume  name
2781  2017-01-23  41.95  42.45  41.84  42.40  13662837  AABA
2568  2016-03-18  34.54  35.21  34.38  35.17  20488334  AABA
1434  2011-09-14  14.47  14.94  14.34  14.55  37389606  AABA
2606  2016-05-12  37.39  37.51  36.79  37.03  11169187  AABA
2160  2014-08-05  36.32  36.42  35.62  35.70  17636353  AABA
252   2007-01-04  25.64  26.92  25.52  26.85  32565729  AABA
1589  2012-04-26  15.44  15.55  15.38  15.53  12543229  AABA
1285  2011-02-10  16.39  16.72  16.35  16.62  15430411  AABA
2660  2016-07-29  38.47  38.52  38.08  38.19  13199145  AABA
324   2007-04-19  28.10  28.23  27.46  27.51  45686451  AABA